* {
    margin:0px;
    padding:0px;
}

body{
    background-color: rgb(241, 241, 241);
}
.content{
    /* border: 1px solid black; */
    margin: 70px 0px 70px 65px;
    height: 500px;
    width: 90%;
    background-color: white;
    z-index: -1;
}

.qt{
    position: relative;
    bottom: 221px;
    left: 300px;
    height: 50px;
    z-index: 1;
}
.bg{
    position: relative;
    top: 30px;
    left: 500px;
    height:400px;
    width: 450px;
    z-index: 1;
}

.curve{
    position: relative;
    top: 100px;
    right: 518px;
    height: 100px;
    z-index: 1;
}

.slider{
  width: fit-content;
  /* height: fit-content; */
  margin: 0 auto;
  position: relative;
  bottom: 336px;
  right: 12px;
  z-index: 3;
    /* border: 1px solid black; */
  /* IN THE END */
  overflow: hidden;
} 
.slide{
    /* display: flex;
    /* border: 1px solid black; 
    position: relative;
    bottom: 334px;
    z-index: 2;
    height: fit-content;
    width: fit-content;
    margin-left: 240px; */
  /* position: relative; */
  /* bottom: 195px;
  left: 300px; */
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

   /* THIS creates the animation! */
   transition: transform 1s;
}

 .slide p{
    font-size: 22px;
    z-index: 4;
    padding-top: 35px;
    /* padding-bottom: 50px; */
}

.tanya{
    width: 360px;
    height: 325px;
    box-shadow: 25px 1px black;
    z-index: 3;
    /* box-shadow: 3px solid black; */
}

.buttons{
    border-radius: 25px;
    background-color: white;
    display: inline-block;
    position: absolute;
    bottom: 170px;
    left: 722px;
    z-index: 4;
    width: 68px;
    height: 35px;
    justify-content: space-between;
}

.btn--left{
    border: none;
    background-color: white;
    color: grey;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 14px;
    margin-top: 7px;
    /* font-weight: bold; */
}

.btn--right{
    border: none;
    background-color: white;
    color: grey;
    font-size: 18px;
    padding: 0px;
    margin-left: 8px;
    /* font-weight: bold; */
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

/* @media (min-width:40%) {
        .content{
            width: 80px;
            height: 80px;
            margin: 0px;
        }

        .qt .bg .curve{
            width:20%;
            height: 20%;
        }
} */